[submodule "Api"]
	path = api
	url = https://github.com/Secure-Your-Soul/SoulsAPI.git
[submodule "Auth"]
	path = domains/securesouls.com/websites/Auth
	url = https://github.com/Secure-Your-Soul/Auth.git
[submodule "Blog"]
	path = domains/securesouls.com/websites/Blog
	url = https://github.com/Secure-Your-Soul/Blog.git
[submodule "Dashboard"]
	path = domains/securesouls.com/websites/Dashboard
	url = https://github.com/Secure-Your-Soul/Dashboard.git
[submodule "DenisKontek"]
	path = domains/securesouls.com/websites/DenisKontek
	url = https://github.com/Secure-Your-Soul/DenisKontek.git
[submodule "Detector"]
	path = domains/securesouls.com/websites/Detector
	url = https://github.com/Secure-Your-Soul/Detector.git
[submodule "Error"]
	path = domains/securesouls.com/websites/Error
	url = https://github.com/Secure-Your-Soul/Error.git
[submodule "Hub"]
	path = domains/securesouls.com/websites/Hub
	url = https://github.com/Secure-Your-Soul/Hub.git
[submodule "Main"]
	path = domains/securesouls.com/websites/Main
	url = https://github.com/Secure-Your-Soul/Main.git
[submodule "Pay"]
	path = domains/securesouls.com/websites/Pay
	url = https://github.com/Secure-Your-Soul/Pay.git
[submodule "Souls"]
	path = domains/securesouls.com/websites/Souls
	url = https://github.com/Secure-Your-Soul/WebSouls.git
[submodule "Store"]
	path = domains/securesouls.com/websites/Store
	url = https://github.com/Secure-Your-Soul/Store.git
